body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
	background-color: #000;
	margin: 0px;
	padding: 0px;
}
#wrapper {
	background-color: #000;
	padding: 0px;
	width: 1020px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#wrapper a img {
	text-decoration: none;
	padding: 0px;
	position: relative;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	height: auto;
}
#wrapper a {
	text-decoration: none;
	list-style-type: none;
	left: auto;
	right: auto;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 160px;
}
#wrapper img {
	padding: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#wrapper #header {
	margin: 0px;
	height: 72px;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	text-decoration: none;
	background-image: url(header%20gradient.jpg);
	background-color: #666;
}
#wrapper #header a {
	text-decoration: none;
	font-size: 2em;
	color: #FFF;
	margin: 0px;
	padding: 0px;
}
#wrapper #main {
	background-color: #999;
	margin: 0px;
	padding: 0px;
	height: 2000px;
}
#wrapper #main p a {
	text-decoration: none;
	color: #000;
	margin: 0px;
	padding: 0px;
}
#wrapper #main p a:hover {
	color: #CCC;
}
#wrapper #main #title {
	height: 100px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	margin-bottom: 30px;
}
#wrapper #main #title p a {
	color: #7D070E;
}
#wrapper #main #title h3 {
	font-size: 1.2em;
}
#wrapper #main #title p {
	margin: 0px;
	padding: 0px;
}
#wrapper #main #largeimage {
	width: 580px;
	margin-top: 5px;
	margin-right: 15px;
	margin-bottom: 0px;
	margin-left: 30px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: auto;
}
#wrapper #main #text p a {
	text-decoration: none;
	color: #7D070E;
}
#wrapper #main #thumbnails {
	width:600px;
	height: 220px;
	padding-top: 20px;
	padding-left: 30px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-right: 30px;
	float: none;
	margin: 0px;
}
#wrapper #main #back {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 30px;
}
#wrapper #main #thumbnails img {
	padding: 0px;
	margin-right: 20px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	width: 100px;
	float: left;
	margin-bottom: 20px;
}
#wrapper #main #thumbnails img:hover {
	padding: 0px;
}
#wrapper #main #text {
	width: 360px;
	float: right;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin: 0px;
}
#wrapper #main #text p {
	margin: 0px;
	padding: 0px;
}
#wrapper #header #links ul li {
	list-style-type: none;
	display: inline;
	color: #FFF;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 80px;
	padding: 0px;
}
#wrapper #header #links ul {
	margin-left: 550px;
	margin-top: 16px;
}
#wrapper #header #links {
	display: inline;
	font-size: .5em;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 500px;
}
#wrapper #header #links ul li a {
	text-decoration: none;
	color: #FFF;
	list-style-type: none;
	display: inline;
	margin: 0px;
	padding: 0px;
	word-spacing: 4em;
}
#wrapper #header #links ul li a:hover {
	color: #CCC;
}
#wrapper #main p {
	margin: 0px;
	padding: 0px;
}
#wrapper #main ul li a {
	text-decoration: underline;
	color: #000;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 22px;
	padding-left: 0px;
}
#wrapper #main ul li a:hover {
	color: #333;
}
#wrapper #main ul li {
	list-style-type: none;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 25px;
	padding-left: 20px;
	margin: 0px;
	bottom: 0px;
	color: #000000;
}
#wrapper #main ul {
	padding: 0px;
	vertical-align: middle;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#wrapper #main #thumbnails #biography {
	width: 450px;
	text-decoration: none;
}
#wrapper #main #thumbnails #biography a {
	color: #7D070E;
	margin: 0px;
	padding: 0px;
}
#wrapper #main #largeimage #video quality {
	overflow: hidden;
    width: 100%;
}
#wrapper #main #largeimage #video quality .button {
	 background: transparent url('button-design.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}
#wrapper #main #largeimage #video quality .button span {
	background: transparent url('button-design.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}
#wrapper #main #largeimage #video quality a.button span {
	    background: transparent url('button-design.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}
#wrapper #main #largeimage #video quality a.button span {
	 background: transparent url('button-design.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}
#wrapper #main #back ul li a {
	padding: 0px;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#wrapper #main #back ul li {
	margin: 0px;
	padding: 0px;
}
#wrapper #main ul li a img {
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
}
#wrapper #main #thumbnails #biography ul {
	text-decoration: none;
}
#wrapper #main #artiststatement  {
	width: 400px;
	float: left;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 30px;
}
#wrapper #main #text p a {
}
#wrapper #main #largeimage #artiststatement ul li a {
	color: #7D070E;
}
#wrapper #main #text T {
	margin: 0px;
	padding: 0px;
	font-family: "Lucida Console", Monaco, monospace;
}
#wrapper #main #quote {
	width: 360px;
	float: right;
	padding-top: 0px;
	padding-right: 130px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin: 0px;
	vertical-align: top;
	height: 1000px;
	position: absolute;
}
#header #background {
	float: right;
}
